# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
plan.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
generated.tf

# Local backend config with real values
*.backend.hcl
!example.backend.hcl
